*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
}

body {
  padding: 32px;
}

h1 {
  text-align: center;
}

.container {
  margin: 24px auto;
  width: 100%;
  max-width: 500px;
}

.chart {
  max-height: 500px;
}

.restaurants {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  height: fit-content;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  transition: 0.2s ease-in-out;
  user-select: none;
}

.card .title {
  min-height: 70px;
  position: relative;
  padding: 24px;
  display: flex;
  align-items: baseline;
}

.card .title:hover .compare {
  display: block;
  cursor: pointer;
}

.card .title .compare {
  display: none;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
}

.card .title .compare:hover {
  background: black;
  color: white;
}

.card .title .name {
  position: absolute;
  left: 24px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card .title:hover .name {
  left: 95px;
}

.card .title .score {
  position: absolute;
  top: 26px;
  right: 24px;
  font-size: 14px;
  color: gray;
}

.card .content {
  padding: 0px 24px 24px;
  display: none;
}

.card .content p {
  font-size: 14px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.card.expanded .content {
  display: block;
}
