*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
}

body {
  padding: 32px;
}

h1 {
  text-align: center;
}

.container {
  margin: 24px auto;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.card .title {
  padding: 24px;
}

.card .content {
  padding: 0px 24px 24px;
  display: none;
}

.card.expanded .content {
  display: block;
}
